name: automerge
on:
    pull_request:
        types:
            - opened
        branches:
            - data/update-data
    pull_request_review:
        types:
            - submitted
    check_suite:
        types:
            - completed
    status: {}
jobs:
    automerge:
        runs-on: ubuntu-latest
        steps:
            - name: automerge
              uses: "pascalgn/automerge-action@v0.14.3"
              env:
                  GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
                  MERGE_LABELS: "update-data"
                  MERGE_COMMIT_MESSAGE: "pull-request-title"
                  MERGE_FILTER_AUTHOR: "github-actions[bot]"
