name: update-data
on:
    schedule:
        - cron: "0 12 * * *" # runs at 12am UTC (11am Melbourne time)

jobs:
    request-data:
        runs-on: ubuntu-latest
        steps:
            - name: checkout repository
              uses: actions/checkout@v2

            - name: setup python
              uses: actions/setup-python@v2
              with:
                  python-version: "3.10"

            - name: install python packages
              run: |
                  python -m pip install --upgrade pip
                  pip install -r requirements.txt
            - name: request data from GISAID
              env:
                  GISAID_USER: ${{ secrets.GISAID_USER }}
                  GISAID_PASS: ${{ secrets.GISAID_PASS }}
              run: python data/format_data.py True

            - name: commit files to new data/update-data branch
              run: |
                  git config --local user.email "handrabi53@gmail.com"
                  git config --local user.name "Hassan Andrabi"
                  git checkout -b data/update-data
                  git add -A
                  git commit -m "Update data (`date`)." -a
            - name: push changes
              uses: ad-m/github-push-action@v0.6.0
              with:
                  github_token: ${{ secrets.GITHUB_TOKEN }}
                  branch: data/update-data
    create-pull-request:
        needs: request-data
        runs-on: ubuntu-latest
        steps:
            - name: create pull request
              uses: actions/github-script@v6
              with:
                  script: |
                      const date = new Date();
                      const title = `Update data (${date.toUTCString()})`
                      const { repo, owner } = context.repo;
                      const result = await github.rest.pulls.create({
                        title: title,
                        owner,
                        repo,
                        head: 'data/update-data',
                        base: 'main',
                        body: [
                          'This PR is auto-generated by',
                          '[actions/github-script](https://github.com/actions/github-script).'
                        ].join('\n')
                      });
                      github.rest.issues.addLabels({
                        owner,
                        repo,
                        issue_number: result.data.number,
                        labels: ['update-data', 'automated-pr']
                      });
