name: Update data from GISAID
on: workflow_dispatch

jobs:
    request-data:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout repository
              uses: actions/checkout@v2 # checkout the repository content to github runner

            - name: Setup python
              uses: actions/setup-python@v2
              with:
                  python-version: "3.10" # install the python version needed

            - name: Install python packages
              run: |
                  python -m pip install --upgrade pip
                  pip install -r requirements.txt

            - name: Request data from GISAID # run format_data.py to get the latest data
              env:
                  GISAID_USER: ${{ secrets.GISAID_USER }}
                  GISAID_PASS: ${{ secrets.GISAID_PASS }}
              run: python data/format_data.py True

            - name: Commit files to new branch
              run: |
                  git config --local user.email "action@github.com"
                  git config --local user.name "GitHub Action"
                  git checkout -b update-data
                  git add -A
                  git commit -m "Update data (`date`)." -a

            - name: Push changes
              uses: ad-m/github-push-action@v0.6.0
              with:
                  github_token: ${{ secrets.GITHUB_TOKEN }}
                  branch: update-data
	create-pull-request:
		needs: request-data
		runs-on: ubuntu-latest
		steps:
		- name: Create pull request
			uses: actions/github-script@v6
			with:
			script: |
				const { repo, owner } = context.repo;
				const result = await github.rest.pulls.create({
				title: 'Update GISAID data',
				owner,
				repo,
				head: '${{ github.ref_name }}',
				base: 'main',
				body: [
					'This PR is auto-generated by',
					'[actions/github-script](https://github.com/actions/github-script).'
				].join('\n')
				});
				github.rest.issues.addLabels({
				owner,
				repo,
				issue_number: result.data.number,
				labels: ['data-update', 'automated pr', 'automerge']
				});